[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = IE
countryName_default = IE
stateOrProvinceName = Leinster
stateOrProvinceName_default = Leinster
localityName = Dublin
localityName_default = Dublin
organizationalUnitName = HOSTNAME
organizationalUnitName_default = HOSTNAME
commonName = *DOMAIN_NAME
commonName_max = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.devDOMAIN_NAME